@page
@model UIHC_Employee_Resume_Upload.Pages.Index1Model
@{

    <h3>Add Receipt</h3>
        <div class="row">
            <div class="col-md-4">
                <form method="post" action="javascript:void(0);" onsubmit="addResume()">                    
                    <div class="form-group">
                        <label class="control-label" for="date">Date:</label>
                        <input class="form-control" type="date" id="date" name="date">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="amount">Amount:</label>
                        <input class="form-control" type="text" id="amount" name="amount">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="description">Description:</label>
                        <input class="form-control" type="text" id="description" name="description">
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="receipt">Receipt:</label>
                        <input class="form-control" type="file" id="receipt" name="receipt">
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Add Receipt" class="btn btn-primary" />
                    </div>
                </form>
                <div id="success" />
            </div>
        </div>
}
